@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* font-family: 'inter'; */
}

.dja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main {
  padding: 20px 190px 20px 190px;
  background-color: rgba(0, 0, 0, 1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  max-width: 1400px;
  padding: 15px 35px 15px 15px;
  border: 1px solid rgba(236, 109, 255, 0.8);
  border-radius: 80px;
  background-image: linear-gradient(
    180deg,
    rgba(225, 105, 243, 0.2),
    rgba(177, 35, 199, 0)
  );
  box-shadow: 0px -100px 150px 1px rgba(225, 105, 243, 0.5);
}

.nav-link-container a:hover {
  color: #ec6dff;
}

.guid-btn {
  position: relative;
  border: 1px solid transparent;
  padding: 8px 5px;
  overflow: hidden;
  display: flex;
  width: 80px;
}

.guid-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: rgba(236, 109, 255, 0.5);
  transition: width 1s ease-in-out;
}

.guid-btn:hover::after {
  width: 100%;
}

.guid-btn:hover {
  font-size: px;
  .guid-arrow {
    transition: 1s;
    margin-left: 10px;
  }
}

.hero-main {
  background-color: rgba(0, 0, 0, 1);
  min-height: 100vh;
}

.hero {
  max-width: 1100px;
}

.hero-register-btn,
.hero-heading button {
  border-top: 1px solid rgba(236, 109, 255, 0.5);
  border-bottom: rgba(236, 109, 255, 0);
  box-shadow: 0px 2px 5px 0px rgba(218, 38, 222, 0.22);
  background-color: #160c18;
  font-weight: 600;
  border-radius: 100px;
  padding: 8px 30px;
}

.hero-register-btn {
  display: flex;
  width: 170px;
  padding: 10px 0px 10px 25px;
}

.hero-register-btn:hover {
  .register-arrow {
    margin-left: 10px;
    transition: 1s;
  }
}

.hero-heading button {
  font-weight: 400;
}

.hero-image {
  filter: drop-shadow(8px 8px 105px rgba(204, 37, 238, 0.5));
  animation: moveUpDown 5s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.signup-main {
  background-color: #1d0125;
  min-height: 100vh;
}

.signup-image-container {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #260330;
  min-height: 100vh;
}

.signup-image {
  max-height: 740px;
  /* width: 100%; */
  object-fit: contain;
}

.signup-form-container {
  padding: 30px;
  width: 55%;
  max-height: 100vh;
  overflow-y: scroll;
}

.signup-form-container::-webkit-scrollbar {
  display: none;
}


.signup-form label {
  opacity: 70%;
  font-size: 16px;
}

.signup-form::placeholder {
  opacity: 70%;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.signup-form input,
.signup-form select {
  border-bottom: 1px solid #595959;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
}

.signup-form select option {
  background-color: #1d0125;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.checkbox {
  width: unset !important;
  margin-bottom: 0 !important;
}

.submit-btn {
  background-color: #27395b;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: rgba(218, 102, 241, 0.986);
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
  font-weight: 600;
}

.signin-link {
  color: rgba(218, 102, 241, 0.986);
}

/*custom calendar*/
.flatpickr-calendar {
  background-color: #191722 !important;
  color: white !important;
  border: 1px solid rgb(119, 75, 224);
  box-shadow: none;
  border-radius: 10px !important;
  font-family: 'Aspekta' !important;
}

.flatpickr-month,
.flatpickr-weekday {
  color: white !important;
}

.flatpickr-weekday {
  opacity: 70%;
}

.flatpickr-day {
  color: white !important;
}

.flatpickr-day:hover {
  color: black !important;
  border: 1px solid #774be0 !important;
  /* background-image: linear-gradient(#fe0ffe, #13d3ee) !important; */
  background-color: #6234e2 !important;
}

.flatpickr-day.selected {
  background-color: #6234e2 !important;
  color: white !important;
  border: 1px solid #774be0 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  opacity: 1;
}

.flatpickr-current-month
.flatpickr-monthDropdown-months
.flatpickr-monthDropdown-month {
  background-color: #4c2ea4 !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  fill: white !important;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  fill: #774be0 !important;
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
  fill: #9071ee !important;
}

.error-message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
}

.signin-form-container{
  padding: 30px;
  width: 55%;
  max-height: 100vh;
}

.back-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  padding:10px 25px;
  border-radius: 20px;
  box-shadow: none;
  background-color: #160c18;
  color: white;
  border: 1px solid rgba(236, 109, 255, 0.5);
}

.footer_section {
  padding-bottom: 40px;
  background-color: #1a1422;
  border-top: 5px solid #ffffff1a;
  box-shadow: 0px 100px 50px -50px #191722 inset;
}

.presale_section {
  padding: 100px 150px 40px 150px;
}

.section_detail {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 0;
}

.footer_border {
  width: 100%;
  height: 2px;
  background-color: #ffffff1a;
  margin: 40px 0;
}

.footer_section p {
  opacity: 70%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.color_white_opacity_70 {
  color: #ffffff70;
}

.footer_section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer_section ul li {
  margin-bottom: 6px;
}

.footer_section ul li a {
  color: #ffffff70 !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer_p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px !important;
  letter-spacing: 0.32px;
}

.About {
  background-color: #F7F8FC;
}

.About-containAll {
  height: 100%;
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.About-heading {
  padding: 20px;
}

.About-heading h1 {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #222222;
}

.About-heading p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

.About .prenext-btn {
  gap: 20px;
  width: 112px;
  height: 40px;
  margin-top: 1rem;
}

.About-client1 {
  width: 100%;
}

.About-client1 img {
  height: 58px;
  width: 58px;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -20px;
  margin-bottom: -20px;
}

.About-review {
  background-color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 30px rgba(34, 34, 34, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.About-review .About-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #444444;
}

.username {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #222222;
  margin-top: 3px;
}

.About-review .userlocation,
.About-client2 .userdetail {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.About-client2 {
  border: 2px solid rgba(102, 102, 102, 0.08);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 10px 30px rgba(34, 34, 34, 0.35);
  opacity: 0.5;
  margin-top: -15px;
}

.modal-header i {
  padding: 5px 7px;
}

.prenext-btn {
  margin-top: 3.4375rem;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
}

.btn-next,
.btn-previous {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.125rem solid black;
  background-color: #FFFFFF;
}

#btn-next,
#btn-previous {
  box-shadow: none;
}