@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #09090f;
  /* font-family: 'inter'; */
}

.dja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-main {
  padding: 0px 135px;
  background: rgb(24, 24, 29);
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  max-width: 1400px;
}

.nav-link-container a:hover {
  color: #cdff08;
}

.signin-btn {
  background: #cdff08;
  border-radius: 58px;
  padding: 10px 24px;
  color: black;
}

.signup-btn {
  outline: 1px solid white;
  border-radius: 58px;
  padding: 10px 24px;
}

.signup-btn:hover,
.review-btn:hover {
  background: #cdff08;
  color: black;
  transition: 0.5s;
  outline: none;
}

.hero-main {
  min-height: 100vh;
  background-image: url('/images/hero-back.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  width: 275.726px;
  height: 535.174px;
  flex-shrink: 0;
  border-radius: 535.174px;
  opacity: 0.25;
  background: #cdff09;
  filter: blur(170px);
}
.shadow-left {
  position: absolute;
  left: 0;
}
.shadow-right {
  position: absolute;
  right: 0;
}

.hero {
  max-width: 1400px;
}

.hero-heading {
  max-width: 800px;
}
.hero-heading h1 {
  color: #fff;
  text-align: center;
  font-size: 74px;
  font-weight: 700;
}

.hero-heading p {
  text-align: center;
  color: #ebebeb;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
}

.signup-main {
  background-color: #1d0125;
  min-height: 100vh;
}

.signup-image-container {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #260330;
  min-height: 100vh;
}

.signup-image {
  max-height: 740px;
  /* width: 100%; */
  object-fit: contain;
}

.signup-form-container {
  padding: 30px;
  width: 55%;
  max-height: 100vh;
  overflow-y: scroll;
}

.signup-form-container::-webkit-scrollbar {
  display: none;
}

.signup-form label {
  opacity: 70%;
  font-size: 16px;
}

.form-control::placeholder {
  opacity: 70%;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.signup-form input,
.signup-form select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #595959;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  color: white;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.signup-form select option {
  background-color: #1d0125;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.checkbox {
  width: unset !important;
  margin-bottom: 0 !important;
}

.submit-btn {
  background-color: #27395b;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  color: rgba(218, 102, 241, 0.986);
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
  font-weight: 600;
}

.signup-form-container{
  max-height: 600px;
  overflow: scroll;
}

.signin-link {
  color: #cdff09;
}

/*custom calendar*/
.flatpickr-calendar {
  background-color: #191722 !important;
  color: white !important;
  border: 1px solid rgb(119, 75, 224);
  box-shadow: none;
  border-radius: 10px !important;
  font-family: 'Aspekta' !important;
}

.flatpickr-month,
.flatpickr-weekday {
  color: white !important;
}

.flatpickr-weekday {
  opacity: 70%;
}

.flatpickr-day {
  color: white !important;
}

.flatpickr-day:hover {
  color: black !important;
  border: 1px solid #774be0 !important;
  /* background-image: linear-gradient(#fe0ffe, #13d3ee) !important; */
  background-color: #6234e2 !important;
}

.flatpickr-day.selected {
  background-color: #6234e2 !important;
  color: white !important;
  border: 1px solid #774be0 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  opacity: 1;
}

.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: #4c2ea4 !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  fill: white !important;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  fill: #774be0 !important;
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
  fill: #9071ee !important;
}

.error-message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
}

.signin-form-container {
  padding: 30px;
  width: 55%;
  max-height: 100vh;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #160c18;
  color: white;
  border: 1px solid rgba(236, 109, 255, 0.5);
}

.footer-main {
  padding-bottom: 40px;
  border-top: 3px solid #404d0d;
}

.footer_section {
  max-width: 1400px;
}

.presale_section {
  padding: 100px 150px 40px 150px;
}

.section_detail {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 0;
}

.footer_border {
  width: 100%;
  height: 2px;
  background-color: #ffffff1a;
  margin: 40px 0;
}

.footer_section p {
  opacity: 70%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.color_white_opacity_70 {
  color: #ffffff70;
}

.footer_section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer_section ul li {
  margin-bottom: 6px;
}

.footer_section ul li a {
  color: #ffffff70 !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer_p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px !important;
  letter-spacing: 0.32px;
}

.review-main,
.faq-main {
  padding: 65px 135px;
}

.review .prenext-btn {
  gap: 20px;
  width: 112px;
  height: 40px;
}

.prenext-btn {
  margin-top: 3.4375rem;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
}

.btn-next,
.btn-previous {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.125rem solid black;
  background-color: #ffffff;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn-next:hover {
  background-color: #cdff09 !important;
  i {
    color: black !important;
  }
}

.btn-previous:hover {
  background-color: #cdff09 !important;
  i {
    color: black !important;
  }
}

.review .add-review button:hover {
  background-color: #cdff09;
  color: #000;
}

.modal-content {
  border: 2px solid #cdff09;
  border-radius: 20px;
  padding: 20px;
  color: white !important;
}

.modal-content input:focus {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: 1px solid #cdff09 !important;
}

.modal-body div {
  margin-top: 10px;
}

.modal-header {
  border-bottom: 1px solid #cdff09;
}
.modal-header i {
  padding: 5px 7px;
  border-radius: 50%;
}

.modal-header i:hover {
  padding: 5px 7px;
  background-color: #cdff09;
  color: black;
}

.modal-content .form-control {
  color: white;
}
.form-control::file-selector-button {
  background-color: #18181d;
  color: white;
  border-radius: 10px;
  border: none;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: rgba(205, 255, 9, 0.1);
}
.form-control[type='file']:not(:disabled):not([readonly]) {
  color: white;
}

.OTP-boxes {
  width: 40px !important;
  height: 40px;
  border-radius: 4px !important;
  text-align: center;
}

.otp-modal .modal-header {
  justify-content: end !important;
  padding: 10px 10px !important;
}

.modal-content {
  background-color: #292727;
}

.otp-submit-btn {
  /* background-color: #bfb5c4; */
  border: 1px solid #bfb5c4;
  padding: 5px 0px;
  width: 70%;
  border-radius: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.otp-submit-btn:hover {
  background-color: #bfb5c4;
  transition: 0.5s;
  color: black;
}

.resend-otp-container {
  width: 100%;
}
.resend-otp-btn {
  color: white;
  border: none;
  box-shadow: none;
}

.change-password-input {
  text-align: left !important;
}

.profile-image {
  object-fit: contain;
  border-radius: 50%;
}

.profile select,
input {
  opacity: 70%;
  font-weight: 500;
}

.profile select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.profile select:focus,
.profile input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  opacity: 100%;
}

.profile select option {
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

.contact-main {
  background-color: #09090f;
  min-height: 100vh;
  padding: 60px 135px;
}

.contact-form-container {
  border: 1px solid #cdff09;
  border-radius: 25px;
  background: #18181d;
  padding: 30px;
}

.contact-form-heading h1 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  font-weight: 600;
}

.contact-form-heading p {
  font-size: 18px;
  font-weight: 500;
  color: #ebebeb;
  font-weight: 400;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 15px 20px;
  margin-top: 10px;
  opacity: 100%;
  border: none;
}

.contact-form div {
  margin-top: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  box-shadow: none;
  outline: 1px solid #cdff09;
}

.contact-form select option{
  background-color: rgba(179, 27, 27, 0.1)!important;
  color: black;
}

.contact-submit-btn {
  color: #09090f;
  background-color: #cdff09;
  padding: 15px 24px;
  border-radius: 58px;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
}

.contact-submit-div {
  margin-top: 40px;
}

.heading-btn button {
  padding: 9px 24px;
  border-radius: 20px;
  border: 1px solid #cdff09;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  color: #cdff09;
}

.contactus-heading h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.contactus-heading p {
  color: #ebebeb;
  font-size: 18px;
  font-weight: 400;
  max-width: 510px;
}

.category-top-heading p {
  max-width: unset !important;
}

.contact-main .talk-about h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.contact-main .talk-about-details {
  padding: 8px 16px 8px 8px;
  border-radius: 32px;
  background: #18181d;
  gap: 8px;
  width: fit-content;
}

.contact-main .right-arrow {
  border-radius: 50%;
  padding: 6px;
  background: #cdff09;
}

.MuiStack-root {
  padding: 0;
}
.MuiStack-root label,
fieldset,
legend {
  display: none;
}

.MuiStack-root input {
  color: white;
  opacity: 70%;
}

.MuiStack-root input:focus {
  opacity: 100%;
}

.MuiFormControl-root {
  opacity: 70%;
}

.MuiFormControl-root:focus-within {
  opacity: 100%;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: white;
}

.MuiInputAdornment-root button svg {
  fill: white;
  opacity: 70%;
}

.features-main,
.category-main {
  padding: 65px 135px;
}

.feature,
.category {
  max-width: 1100px;
}

.feature-image-container {
  filter: drop-shadow(1px 1px 202px #cdff09);
}

.category-image-container {
  background-color: rgba(205, 255, 9, 0.1);
  padding: 20px;
  border-radius: 50%;
}

.category-heading h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.category-heading p {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #ebebeb;
}

.faq-heading {
  background: #18181d;
  border-radius: 36px;
  padding: 103px 40px;
  max-width: 500px;
  max-height: 568px;
}

.future-main{
  max-width: 100vw;
  overflow: hidden;
}

.faq-heading h1,
.future-main .future h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

.faq-heading p,
.future-main .future p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.faq-main .questions h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}

.faq-main .questions .que {
  width: 500px;
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 5px;
  transition: 0.5s;
}

.faq-main .questions p {
  color: black;
  margin-top: 10px;
}

.faq-main .questions img {
  height: fit-content;
}

.future-main {
  padding: 108px 0px;
  background: #18181d;
  position: relative;
}

.future-polygon {
  position: absolute;
  top: 135px;
  left: 78px;
}

.future-round{
  position: absolute;
  top:0px;
  right: -50px;
  overflow:hidden;
}

.future-round-2{
  position: absolute;
  top: 0px;
  right: 0px
}

.future-shadow {
  position: absolute;
  border-radius: 329px;
  background: rgba(205, 255, 9, 0.06);
  filter: blur(90px);
  width: 329px;
  height: 240px;
  flex-shrink: 0;
}

.future-main .shadow-left{
  top: 0px;
  left: 119px;
}

.future-main .shadow-right{
  bottom: 74px;
  right: 55;
}

.future {
  max-width: 556px;
}

@media screen and (max-width: 1280px) {
  .footer_section {
    padding-bottom: 40px;
  }

  .presale_section {
    padding: 80px 150px;
  }
}

@media screen and (max-width: 1024px) {
  .footer_section {
    padding-bottom: 40px;
  }

  .presale_section {
    padding: 80px 60px;
  }

  .footer_section ul li {
    margin-bottom: 4px;
  }

  .footer_section ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .footer_border {
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer_section {
    padding-bottom: 40px;
  }

  .presale_section {
    padding: 80px 30px;
  }
}

@media (max-width: 512px) {
  .profile-form-container {
    width: 80%;
  }

  .profile-form-heading h2 {
    font-size: 20px;
  }

  .field-details {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 428px) {
  .footer_section {
    padding-bottom: 30px;
  }

  .presale_section {
    padding: 60px 15px;
  }

  .footer_p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
